.context-menu {
    position: absolute;
    background-color: #1a1a1a;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    z-index: 1000;
  }
  
  .context-menu button {
    color: white;
    display: block;
    width: 100%;
    padding: 5px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .context-menu button:hover {
    color: white;
    background-color: gray;
    border-radius: 3px;
  }